{% include "header.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="register">Login</legend>
        {{ form.as_p }}
      </fieldset>
      <div>
        <button type="submit" class="sign-up">Login</button>
      </div>
    </form>
    <div class="sign-in">
      <small><a href="{% url "register" %}">Need an account?</a></small>
    </div>
  </div>
  <div>
    {% if messages %}
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
