absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
argcomplete==2.0.0
asgiref==3.5.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
bcrypt==3.2.0
black==22.3.0
blessed==1.19.1
botocore==1.23.54
btrfsutil==5.16.2
CacheControl==0.12.6
cached-property==1.5.2
cachetools==5.0.0
cement==2.8.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.1.0
clikit==0.6.2
cloudpickle==2.0.0
cmdstanpy==0.9.5
colorama==0.4.3
contextlib2==0.6.0.post1
convertdate==2.3.2
crashtest==0.3.1
cryptography==36.0.2
cycler==0.11.0
Cython==0.29.28
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
dj-database-url==0.5.0
Django==4.0.3
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-extensions==3.1.5
django-heroku==0.3.1
django-six==1.0.4
dm-tree==0.1.6
dnspython==2.2.0
docker==4.4.4
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
ephem==4.1.3
evdev==1.4.0
executing==0.8.3
file-magic==0.4.0
filelock==3.6.0
flatbuffers==2.0
fonttools==4.28.5
forex-python==1.8
frozenlist==1.2.0
future==0.16.0
gast==0.5.3
gin-config==0.5.0
Glances==3.2.4
google-auth==2.4.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.43.0
gunicorn==20.1.0
gym==0.21.0
h5py==3.6.0
hijri-converter==2.2.2
holidays==0.11.3.1
html5lib==1.1
httpstan==4.6.1
idna==3.3
importlib-metadata==4.8.1
ipython==8.2.0
ipython_genutils==0.2.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
lensfun==0.3.3
libclang==12.0.0
LunarCalendar==0.0.9
lutris==0.5.9.1
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.14.1
more-itertools==8.10.0
msgpack==1.0.3
multidict==5.2.0
mypy-extensions==0.4.3
numpy==1.21.5
oauthlib==3.1.1
opt-einsum==3.3.0
ordered-set==4.0.2
outlier-utils==0.0.3
packaging==20.9
pandas==1.3.5
paramiko==2.10.3
parso==0.8.2
pastel==0.2.1
pathspec==0.9.0
patsy==0.5.2
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
plotly==5.5.0
ply==3.11
progress==1.6
prompt-toolkit==3.0.28
protobuf==3.19.3
psutil==5.9.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycparser==2.21
pydot==1.4.2
Pygments==2.11.2
PyGObject==3.42.0
pylev==1.4.0
PyMeeus==0.5.11
PyNaCl==1.5.0
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.1
pysimdjson==3.2.0
pystan==3.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pyxdg==0.27
PyYAML==5.4.1
Reflector==2021.11.20.2.41.3
regex==2022.1.18
requests==2.26.0
requests-oauthlib==1.3.0
resolvelib==0.5.5
retrying==1.3.3
rsa==4.8
scikit-learn==1.0.2
screen==1.0.1
semantic-version==2.8.5
setuptools-git==1.2
shtab==1.5.3
simplejson==3.17.6
six==1.14.0
sqlparse==0.4.2
stack-data==0.2.0
statsmodels==0.13.1
team==1.0
tenacity==8.0.1
termcolor==1.1.0
texttable==1.6.4
threadpoolctl==3.0.0
tldr==3.1.0
toml==0.10.2
tomli==2.0.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.1.0
ujson==5.1.0
urllib3==1.26.9
virtualenv==20.13.4
wcwidth==0.1.9
webargs==8.0.1
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug==2.0.2
whitenoise==6.0.0
wrapt==1.13.3
xlwt==1.3.0
yarl==1.7.2
zipp==3.7.0
